# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
pdfchatbot_env/
.env
.vscode/

# Streamlit
.streamlit/

#raw notebooks
raw/
working_bkp/


# Chroma / Vector DB
chroma_db/
*.sqlite3

# OS
.DS_Store
